.hovering-panel {
  margin: 0.5rem 0;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  background: white;
  color: var(--font-dark);
  box-shadow: 4px 4px 4px var(--shadow);
  filter: drop-shadow(0 0 0.25rem var(--shadow));
}

.thin-line {
  margin-top: 1px;
  margin-bottom: 1px;
}

.text-link {
  color: var(--primary-blue);
  word-break: keep-all;
  text-decoration: none;
  font-weight: 700;
}

  .text-link:hover {
    color: var(--primary-blue-hover);
    text-decoration: underline;
  }

.text-container {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  padding: 1.5rem;
  height: fit-content;
}

.text-block {
  margin-bottom: 2rem;
}
