.overlay-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  z-index: 990;
  transition: opacity 0.4s ease-out;
  background: var(--shadow);
}

  .overlay-bg.show {
    opacity: 1;
    pointer-events: auto;
    backdrop-filter: blur(2px);
  }

  .overlay-bg.hide {
    opacity: 0;
    pointer-events: none;
  }

.overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
}

.overlay-content-box {
  margin: 6rem 0 1rem 0;
  padding: 1rem;
  width: 90%;
  min-height: 20%;
  height: fit-content;
  max-height: 80%;
  background: var(--bg-light);
  color: var(--font-dark);
  z-index: 1000;
}

.overlay-blur {
  position: absolute;
  background: var(--shadow);
}

.btn-overlay-toggle {
  font-size: 2rem;
  position: absolute;
  top: 0.75rem;
  right: calc(0.75rem + 4rem + 0.5rem);
  height: 4rem;
  width: 4rem;
  border-radius: 25%;
  z-index: 5000;
  background: var(--bg-light);
  color: var(--font-dark);
  transition: border var(--transition-time) var(--transition-style);
}

  .btn-overlay-toggle:hover {
    border: 2px solid var(--primary-blue);
  }

@media (max-width: 640.98px) {
  .overlay-bg {
    min-height: calc(100dvh - var(--nav-bar-height));
  }
}
