/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-zdscgksyd7] {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 16%);
  color: white;
}

main[b-zdscgksyd7] {
  flex: 1;
}

.sidebar[b-zdscgksyd7] {
  background-image: linear-gradient(
    45deg,
    var(--accent-blue) 0%,
    var(--accent-red) 100%
  );
}

.top-row-main[b-zdscgksyd7] {
  background-image: linear-gradient(
    225deg,
    var(--accent-blue) 60%,
    var(--accent-red) 100%
  );
  justify-content: flex-end;
  height: var(--nav-bar-height);
  display: flex;
  align-items: center;
}

.top-row-main[b-zdscgksyd7]  a,
.top-row-main[b-zdscgksyd7]  .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row-main[b-zdscgksyd7]  a:hover,
.top-row-main[b-zdscgksyd7]  .btn-link:hover {
  text-decoration: underline;
}

.top-row-main[b-zdscgksyd7]  a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row-main[b-zdscgksyd7] {
    justify-content: space-between;
  }

  .top-row-main[b-zdscgksyd7]  a,
  .top-row-main[b-zdscgksyd7]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-zdscgksyd7] {
    flex-direction: row;
  }

  .sidebar[b-zdscgksyd7] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row-main[b-zdscgksyd7] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row-main.auth[b-zdscgksyd7]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row-main[b-zdscgksyd7],
  article[b-zdscgksyd7] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-cvbgznwllv] {
  background-color: rgba(255, 255, 255, 0.1);
}

.top-row-menu[b-cvbgznwllv] {
  display: flex;
  height: var(--nav-bar-height);
  background-color: rgba(0, 0, 0, 0.4);
  border-bottom-right-radius: 0.5rem;
}

.navbar-brand[b-cvbgznwllv] {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.bi[b-cvbgznwllv] {
  display: flex;
  position: relative;
  vertical-align: center;
  align-items: center;
  width: 1.75rem;
  background-size: cover;
}

.nav-item[b-cvbgznwllv] {
  font-size: 1.1rem;
  margin: 0.2rem 0.2rem;
}

.nav-item:first-of-type[b-cvbgznwllv] {
  margin-top: 0.4rem;
}

.nav-item:last-of-type[b-cvbgznwllv] {
  margin-bottom: 0.1rem;
}

.nav-item[b-cvbgznwllv]  a {
  text-shadow: transparent;
  color: rgb(215, 215, 215);
  border-radius: 0.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  line-height: 3rem;
  padding: 1.5rem;
  transition: text-shadow 0.1s background-color 0.2s;
}

.nav-item[b-cvbgznwllv]  a.active {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  text-shadow: 0.1rem 0.15rem rgba(0, 0, 0, 0.33);
  color: white;
}

.nav-item[b-cvbgznwllv]  a:hover {
  text-shadow: 0.1rem 0.15rem rgba(0, 0, 0, 0.33);
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(255, 255, 255);
}

@media (min-width: 641px) {
  .navbar-toggler[b-cvbgznwllv] {
    display: none;
  }

  .collapse[b-cvbgznwllv] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }

  .nav-scrollable[b-cvbgznwllv] {
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - var(--nav-bar-height));
    overflow-y: auto;
  }
}
/* /Pages/TicTacToe.razor.rz.scp.css */
p[b-18d0fa3f1o] {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.page-layout[b-18d0fa3f1o] {
    display: flex;
    flex-direction: column;
}

.page-grid[b-18d0fa3f1o] {
    display: grid;
    justify-content: center;
    row-gap: 1rem;
}

.page-header[b-18d0fa3f1o] {
    font-size: 4rem;
    text-align: center;
}

.game-grid[b-18d0fa3f1o] {
    display: grid;
    grid-template-columns: 4rem 4rem 4rem;
    gap: 0.2rem;
}

.game-button[b-18d0fa3f1o] {
    font-size: 2.5rem;
    height: 4.0rem;
    width: 4.0rem;
    border: none;
    border-radius: 0.5rem;
    transition: background-color 0.2s;
    margin: 0px;
    padding: 0px;
}

.game-restart-button[b-18d0fa3f1o] {
    width: 12.5rem;
    padding: 0rem 0rem;
}

.game-paragraph[b-18d0fa3f1o] {
    margin: 1rem 0rem;
}

.game-result-text[b-18d0fa3f1o] {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 0px;
}
/* /Pages/Todo.razor.rz.scp.css */
li[b-ehd9165whg] {
    margin: 0rem;
}

p[b-ehd9165whg] {
    margin: 0rem;
}

.todo-container[b-ehd9165whg] {
    display: flex;
    flex-direction: row;
}
