/* /Components/ProgressBar.razor.rz.scp.css */
.progress-container[b-zlvu4ieyzw] {
  position: relative;
  width: 100%;
  height: var(--progress-bar-container-height);
  margin: 4px 2px;
  border-radius: var(--progress-bar-border-radius);
  overflow: hidden;
  box-shadow: -0.025rem 0.1rem 0.25rem inset var(--shadow);
}

.progress-bar[b-zlvu4ieyzw] {
  height: 100%;
  border-radius: var(--progress-bar-border-radius);
  transition: width 0.4s ease-in-out;
  box-shadow: 0.025rem 0.025rem 0.25rem var(--shadow);
}

.progress-label[b-zlvu4ieyzw] {
  font-size: 1rem;
  font-weight: 500;
  text-overflow: clip;
  width: 100%;
  position: absolute;
  text-align: center;
  color: white;
  text-shadow: 1px 1px var(--shadow);
  top: 40%;
  transform: translateY(-40%);
}
/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-zdscgksyd7] {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: background 0.2s, color 0.2s;
}

.main-container[b-zdscgksyd7] {
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.page-theme-dark[b-zdscgksyd7] {
  background: var(--bg-dark);
  color: var(--font-light);
}

.page-theme-light[b-zdscgksyd7] {
  background: var(--bg-light);
  color: var(--font-dark);
}

.btn-theme-toggle[b-zdscgksyd7] {
  position: absolute;
  top: 16px;
  right: 16px;
  height: 48px;
  width: 48px;
  border-radius: 25%;
  border: solid 2px transparent;
  z-index: 5000;
}

.btn-theme-light[b-zdscgksyd7] {
  background-color: var(--bg-dark);
  color: var(--font-light);
}

  .btn-theme-light:hover[b-zdscgksyd7] {
    border-color: var(--primary-blue-hover);
    background-color: var(--bg-dark-hover);
  }

.btn-theme-dark[b-zdscgksyd7] {
  background-color: var(--bg-light);
  color: var(--font-dark);
}

  .btn-theme-dark:hover[b-zdscgksyd7] {
    border-color: var(--primary-blue-hover);
    background-color: var(--bg-light-hover);
  }

main[b-zdscgksyd7] {
  flex: 1;
}

.sidebar[b-zdscgksyd7] {
  background: linear-gradient( 45deg, var(--primary-blue) 0%, var(--primary-red) 100% );
  box-shadow: 0.1rem 0 0.1rem var(--shadow);
}

.top-row-main[b-zdscgksyd7] {
  background: linear-gradient( 225deg, var(--primary-blue) 60%, var(--primary-red) 100% );
  justify-content: flex-end;
  height: var(--nav-bar-height);
  display: flex;
  align-items: center;
}

  .top-row-main[b-zdscgksyd7]  a,
  .top-row-main[b-zdscgksyd7]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
  }

    .top-row-main[b-zdscgksyd7]  a:hover,
    .top-row-main[b-zdscgksyd7]  .btn-link:hover {
      text-decoration: underline;
    }

    .top-row-main[b-zdscgksyd7]  a:first-child {
      overflow: hidden;
      text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
  .sidebar[b-zdscgksyd7] {
    background: var(--primary-blue);
  }

  .top-row-main[b-zdscgksyd7] {
    justify-content: space-between;
  }

    .top-row-main[b-zdscgksyd7]  a,
    .top-row-main[b-zdscgksyd7]  .btn-link {
      margin-left: 0;
    }
}

@media (min-width: 641px) {
  .page[b-zdscgksyd7] {
    flex-direction: row;
  }

  .sidebar[b-zdscgksyd7] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row-main[b-zdscgksyd7] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

    .top-row-main.auth[b-zdscgksyd7]  a:first-child {
      flex: 1;
      text-align: right;
      width: 0;
    }

  .top-row-main[b-zdscgksyd7],
  article[b-zdscgksyd7] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* /Layout/NavMenu.razor.rz.scp.css */
.btn-navbar[b-cvbgznwllv] {
  color: var(--font-light);
  padding: 0;
  background: none;
  border: none;
  outline: 0;
  filter: none;
  transition: filter var(--transition-time) var(--transition-style);
}

  .btn-navbar:hover[b-cvbgznwllv] {
    filter: drop-shadow(0 0 4px var(--action-confirm));
  }

.glow[b-cvbgznwllv] {
  filter: drop-shadow(0 0 4px var(--action-confirm));
}

.top-row-menu[b-cvbgznwllv] {
  display: flex;
  height: var(--nav-bar-height);
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.navbar-brand[b-cvbgznwllv] {
  font-size: 2rem;
  font-weight: 200;
  padding: 0;
  margin: 0;
}

.bi[b-cvbgznwllv] {
  display: flex;
  position: relative;
  align-items: center;
  width: 1.75rem;
  background-size: cover;
}

.nav-item[b-cvbgznwllv] {
  font-size: 1.1rem;
  margin: 0.2rem 0.2rem;
  min-width: fit-content;
  white-space: nowrap;
}

  .nav-item:first-of-type[b-cvbgznwllv] {
    margin-top: 0.4rem;
  }

  .nav-item:last-of-type[b-cvbgznwllv] {
    margin-bottom: 0.1rem;
  }

  .nav-item[b-cvbgznwllv]  a {
    text-shadow: transparent;
    color: rgb(215, 215, 215);
    border-radius: 0.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    padding: 1.5rem;
    transition: text-shadow 0.1s background-color 0.2s;
  }

    .nav-item[b-cvbgznwllv]  a.active {
      color: white;
      background-image: linear-gradient( 90deg, hsla(0, 0%, 100%, 0.5) 0%, hsla(0, 0%, 100%, 0.2) 100% );
      text-shadow: 0.05rem 0.05rem 0.1rem hsla(0, 0%, 0%, 0.33);
    }

    .nav-item[b-cvbgznwllv]  a:hover {
      color: white;
      background-color: hsla(0, 0%, 100%, 0.25);
      text-shadow: 0.05rem 0.05rem 0.1rem hsla(0, 0%, 0%, 0.33);
    }

.navbar-item-header[b-cvbgznwllv] {
  font-family: var(--bs-body-font-family);
  font-size: 1.1rem;
  font-weight: var(--bs-nav-link-font-weight);
  color: rgb(215, 215, 215);
  padding-left: 1.5rem;
  margin: 0;
}

@media (max-width: 640.98px) {
  .nav-scrollable[b-cvbgznwllv] {
    position: absolute;
    width: 100%;
    height: fit-content;
    z-index: 10000;
    background: linear-gradient( 115deg, var(--primary-blue) 10%, var(--shadow) 50% );
    box-shadow: 0 8px 8px var(--shadow);
    overflow-y: auto;
    opacity: 100%;
    backdrop-filter: blur(3px);
    padding: 0.25rem 0.1rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

@media (min-width: 641px) {
  .btn-navbar[b-cvbgznwllv] {
    display: none;
  }

  .collapse[b-cvbgznwllv] {
    /* Never collapse the sidebar for wide screens */
    display: block;
  }

  .nav-scrollable[b-cvbgznwllv] {
    /* Allow sidebar to scroll for tall menus */
    height: calc(100vh - var(--nav-bar-height));
    overflow-y: auto;
  }
}
/* /Pages/Quiz.razor.rz.scp.css */
.question-image-container[b-p3l66w4kv4] {
  display: flex;
  height: 220px;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.question-image[b-p3l66w4kv4] {
  height: 200px;
}

.image-border[b-p3l66w4kv4] {
  border-radius: 8px;
  padding: 0px 0px;
}

.question-text[b-p3l66w4kv4] {
  width: 100%;
  text-align: center;
  margin: 0;
}

.btn-quiz-input[b-p3l66w4kv4] {
  font-size: 1.25rem;
  text-align: center;
  padding: 4px 8px;
  cursor: pointer;
  box-shadow: 2px 2px 4px var(--shadow);
}

.btn-input:hover[b-p3l66w4kv4] {
  background-color: var(--primary-blue-hover);
}

.btn-quiz[b-p3l66w4kv4] {
  font-size: 1.25rem;
  padding: 0.5rem;
  margin: 0.2rem 0rem;
  border-style: none;
  border-radius: 0.5rem;
  display: inline-block;
  width: 100%;
}

.btn-answer-neutral:hover[b-p3l66w4kv4] {
  outline: none;
}

.btn-answer-neutral:disabled[b-p3l66w4kv4] {
  opacity: 50%;
}

.btn-answer-correct[b-p3l66w4kv4] {
  background-color: var(--action-confirm);
  text-shadow: 0.05rem 0.05rem rgba(10,10,10,33%);
  cursor: default;
}

.btn-answer-wrong[b-p3l66w4kv4] {
  background-color: var(--action-danger);
  cursor: default;
}

.btn-answer-selected-dark[b-p3l66w4kv4],
.btn-answer-selected-dark:active[b-p3l66w4kv4],
.btn-answer-selected-dark:focus[b-p3l66w4kv4] {
  outline: solid 0.2rem white;
}

.btn-answer-selected-light[b-p3l66w4kv4],
.btn-answer-selected-light:active[b-p3l66w4kv4],
.btn-answer-selected-light:focus[b-p3l66w4kv4] {
  outline: solid 0.2rem hsl(0,0%,16%);
}
/* /Pages/QuizCreator.razor.rz.scp.css */
.link-btn[b-ulvt1cluiv] {
  display: inline-block;
  padding: 4px 8px;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
}

.btn-input[b-ulvt1cluiv] {
  padding: 4px 8px;
}

.link-btn[b-ulvt1cluiv],
.btn-input[b-ulvt1cluiv] {
  font-size: 1rem;
}

.simple-spacer[b-ulvt1cluiv] {
  margin: 4px 0px;
}

.input-container[b-ulvt1cluiv] {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: row;
  gap: 4px;
  width: 100%;
}

.input-text[b-ulvt1cluiv] {
  line-height: 2rem;
}

.streched-input[b-ulvt1cluiv] {
  display: flex;
  flex: 1;
  width: 100%;
}

.info-danger[b-ulvt1cluiv] {
  color: var(--action-danger);
  font-weight: 700;
  margin-left: 0.2rem;
}

.num-text[b-ulvt1cluiv] {
  width: 1rem;
  line-height: 2rem;
  font-weight: 700;
}

.centered-btn-container[b-ulvt1cluiv] {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  width: 100%;
  padding: 8px 0px
}
/* /Pages/TicTacToe.razor.rz.scp.css */
.page-layout[b-18d0fa3f1o] {
  display: flex;
  flex-direction: column;
}

.game-page[b-18d0fa3f1o] {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.game-layout[b-18d0fa3f1o] {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;
}

.game-grid[b-18d0fa3f1o] {
  display: grid;
  grid-template-columns: 4rem 4rem 4rem;
  gap: 0.25rem;
  width: fit-content;
}

.btn-game[b-18d0fa3f1o] {
  font-size: 2.5rem;
  font-weight: 200;
  height: 4.0rem;
  width: 4.0rem;
  border-radius: 25%;
  margin: 0;
  padding: 0;
  transition: font-size var(--transition-time) var(--transition-style);
}

.btn-restart[b-18d0fa3f1o] {
  padding: 0.5rem 1rem;
}

.empty[b-18d0fa3f1o] {
  font-size: 0;
}

.btn-game:disabled[b-18d0fa3f1o] {
  opacity: 1.0;
  cursor: default;
}

.btn-game[disabled]:hover[b-18d0fa3f1o] {
  background-color: var(--primary-blue);
}

.game-paragraph[b-18d0fa3f1o] {
  margin: 1rem 0;
}

.game-result-text[b-18d0fa3f1o] {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 0;
}

.game-winner[b-18d0fa3f1o] {
  color: white;
  background-color: var(--action-confirm);
  text-shadow: 0.05rem 0.05rem rgba(10,10,10,33%);
}

.thic-padding[b-18d0fa3f1o] {
  padding: 16px 16px;
}

.points-label[b-18d0fa3f1o] {
  font-size: 20px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  margin: 0px 0px;
  margin-bottom: 8px;
  transition: background-color var(--transition-time);
}

.points-text[b-18d0fa3f1o] {
  min-width: 1.5rem;
  text-align: end;
}

@media (max-width: 850px) {
  .game-layout[b-18d0fa3f1o] {
    flex-direction: column;
  }
}
/* /Pages/Todo.razor.rz.scp.css */
li[b-ehd9165whg] {
  margin: 10px;
  height: 2rem;
  border: none;
  align-content: center
}

p[b-ehd9165whg] {
  margin: 0;
}

b[b-ehd9165whg] {
  margin: 0;
  padding: 0.2rem;
}

.todo-container[b-ehd9165whg] {
  display: flex;
  margin: 0.1rem;
}

.todo-done-container[b-ehd9165whg] {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
}

.todo-list-item[b-ehd9165whg] {
  margin: 0;
}

.btn-todo[b-ehd9165whg] {
  font-size: 1rem;
  padding: 0.2rem 1rem;
}
